<div class="home-container">
    <h1 class="display-1 text-center"><strong>MailManager:</strong> The Best mail sending app</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 justify-text">
            <p class="lead">
                Send mails to anyone of your choice in seconds!
            </p>
        </div>
        <div class="col-md-4 justify-text">
            <p class="lead">
                Schedule mails for multiple recipients to receive!
            </p>
        </div>
        <div class="col-md-4 justify-text">
            <p class="lead">
                Manage your mails with convenience!
            </p>
        </div>
    </div>
</div>